.klik{
    background-color: green;
    color: aliceblue;
    border: none;
    height: 40px;
    width: 80px;
    border-radius: 8px;
    cursor: pointer;
    margin: 50px;
}
.klik:hover{
    opacity: 0.6;
}
.klik:active{
    background-color:tomato ;

}